body {
  background-color: rgb(253, 251, 251);
  font-family: Trebuchet MS, sans-serif;
  font-size: 1em;
}

p {
  padding: 10px;
}

a {
  text-decoration: none;
}

#titulo {
  margin: auto;
}

#minha_foto {
  width: 350px;
  border-radius: 70px;
}

#cabecalho {
  display: flex;
  margin-bottom: 30px;
}

#nav-bar {
  justify-content: space-between;
  width: 200px;
  display: flex;
  list-style: none;
}

.foot {
  color: rgb(47, 62, 70);
}

.name {
  line-height: 50px;
}

.conteiner {
  display: inline-block;
}

.lado-esquerdo {
  width: 600px;
  float: left;
}

.lado-direito {
  width: 600px;
  float: right;
}
