header a {
  color: #ffb86c;
  opacity: 100%;
  text-decoration: none;
}

body {
  margin: 0;
  background-color: #e8e8e6;
  font-family: Quattrocento Sans;
  line-height: 2.5em;
}

h1 {
  font-size: 7.5em;
  font-family: Playfair Display;
  line-height: 1em;
  letter-spacing: 0.1em;
  text-align: center;
  color: #ffb86c;
}

span {
  color: white;
  opacity: 35%;
}

h2 {
  font-size: 4em;
  font-family: Playfair Display;
  letter-spacing: 0.1em;
}

h3 {
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.1em;
  word-spacing: 0.1em;
  text-align: center;
}

p {
  font-size: 1.5em;
}

section {
  color: #383a59;
}

footer {
  padding-left: 1%;
  padding-top: 1px;
  color: #383a59;
}

/* ----- CLASSES ----- */
#contact a {
  color: #383a59;
  text-decoration: none;
}

#contact a:hover {
  opacity: 50%;
}

.header-nav a:hover {
  opacity: 50%;
}

.header-nav {
  background-color: #383a59;
  display: flex;
  justify-content: flex-start;
  height: 5vh;
  letter-spacing: 0.2em;
  padding-left: 1%;
  padding-top: 1px;
  position: fixed;
  width: 100%;
  text-transform: uppercase;
}

.hero {
  align-items: center;
  background-color: #383a59;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.hero-color,
.span {
  color: white;
}

.uppercase {
  text-transform: uppercase;
}

.hero-position {
  text-align: end;
}

.profile-pic {
  border-radius: 50%;
  width: 300px;
}

.about-me {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5%;
}

.div-picprofile,
.div-profile {
  margin-left: 10%;
}

.div-profile {
  margin-right: 13%;
}

.skills-title {
  display: flex;
  justify-content: flex-end;
  padding-right: 15%;
}

.skills-container,
.projects-container {
  align-content: space-around;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5%;
}

.skill-item,
.projects-item {
  height: 250px;
  width: 250px;
  margin: 2%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 1%;
}

.skill-item p {
  text-align: center;
}

.projects-item p {
  text-align: center;
  text-transform: uppercase;
}

.projects-title {
  display: flex;
  justify-content: flex-start;
  padding-left: 15%;
}

.contact-title {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}

.sm-icon {
  height: 35px;
  border-radius: 50%;
}

.skill-img {
  max-width: 150px;
  max-height: 100px;
}

.projects-img {
  max-width: 300px;
  max-height: 300px;
}

.sm-item {
  font-size: 1.7em;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1% 43%;
}

.section-item {
  display: flex;
  justify-content: space-around;
  width: 260px;
}

.section-item img {
  display: flex;
  justify-content: end;
  padding: 0px 0px 0px 30px;
}

@media only screen and (max-width: 500px) {
  body {
    line-height: 2em;
    font-size: 10pt;
  }
  
  h1 {
    font-size: 3.5em;
  }
  
  h2 {
    font-size: 2.5em;
  }
  
  h3 {
    font-size: 12pt;
  }

  .header-nav {
    letter-spacing: 0.1em;
    justify-content: space-evenly;
    padding-left: 0%;
  }

  #contact a:hover {
    opacity: 100%;
  }
  
  .header-nav a:hover {
    opacity: 100%;
  }
  
  .profile-pic {
    margin-top: 60px;
    width: 200px;
  }
  
  .about-me {
    display: flex;
    flex-direction: column;
  }
  
  .skill-img {
    max-width: 100px;
    max-height: 80px;
  }
  
  .skill-item {
    height: 150px;
    width: 150px;;
  }
  
  .projects-img {
    max-width: 200px;
    max-height: 200px;
  }
  
  .projects-container {
    padding: 3%;
  }
  
  .social-media {
    padding: 1% 25%;
  }
  
  .sm-icon {
    height: 25px;
  }

  .section-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 210px;
  }

  .sm-item {
    font-size: 12pt;
    width: 90px;
    text-align: center
  }
}